@import "../common/scss/variables";
@import "../common/scss/mixins";

.header {
  min-height: 80px;
  background-color: $primaryColor;
  @include flex(row, flex-end, center, wrap);
  width: 100%;
  position: fixed;
  z-index: 9999;
  transition: all ease-in-out .4s;
  @media screen and (max-width: 480px) {
    justify-content: center;
    background-color: $primaryBackgroundColor;
    min-height: 0;
  }

}

.scrolledHeader {
  min-height: 40px;
  background-color: $primaryColor;
  @include flex(row, flex-end, center, wrap);
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: all ease-in-out .4s;
  @media screen and (max-width: 480px) {
    justify-content: center;
    background-color: $primaryBackgroundColor;
    min-height: 0;
  }
}