.contactsBlock {
    min-height: 100vh;
    background-color: #FFE2E2;
}

.container {
    flex-direction: column;
    justify-content: start;
}

.title {
    margin: 0 auto;
    background-color: #8FBC8F;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    width: 280px;
    height: 300px;
}

.textArea {
    resize: none;
}

.input {
    height: 30px;
}

.sendButton {
    font-weight: bold;
    display: block;
    width: 170px;
    align-self: center;
    height: 30px;
}

