@import "../../common/scss/variables";
@import "../../common/scss/mixins";

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .active {
    border-bottom: 2px solid #fff;
  }
  a {
    font-family: $secondaryFont;
    color: $primaryFontColor;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 25px 0 30px;
    cursor: pointer;
  }
  @media screen and (max-width: 480px){
    display: none;
  }
}


