@import "../../common/scss/variables";
@import "../../common/scss/mixins";

.skill {
    @include flex(column, flex-start, center, wrap);
    @include text($secondaryFont, 18px, 1.2, 500);
    padding: 20px 0 0 0;
    background-color: #252525;
    width: 250px;
    min-height: 300px;
    text-align: center;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    .icon {
        color: #4e93e6;
        height: 80px;
        width: 80px;
        margin: 0 auto 30px;
        background: rgba(255,255,255,0.1);
        display: block;
        line-height: 100px;
        font-size: 30px;
        box-shadow: -6px 10px 40px rgba(0, 0, 0, 6%);
        text-align: center;
        transform: rotate(
                        45deg
        );
        transform-origin: center;
        svg {
            transform: rotate(-45deg);
            color: white;
        }
    }
    .skillDescription {
        text-transform: capitalize;
        @include text($primaryFont, 14px, 1.6, 500);
    }
}

