@import "../common/scss/variables";
@import "../common/scss/mixins";

.mainBlock {
  background-color: $primaryBackgroundColor;
  font-family: $primaryFont;
  height: 100vh;

  .container {
    @include container();
    @include flex(row, space-between, center, wrap);

    .text {
      width: 300px;

      & h1 {
        font-size: 45px;
        line-height: 45px;
        font-weight: 700;
        margin: 18px 0 10px;
      }

      & h1 span {
        text-transform: uppercase;
        color: $secondBackgroundFontColor;
      }

      & h6 {
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      & p {
        margin: 10px 0 23px;
        font-size: 16px;
        line-height: 32px;
      }
    }

    .photo {
      max-height: 400px;
      position: relative;
      z-index: 1;

      img {
        max-height: 400px;
        max-width: 800px;
      }

      &:before {
        content: '';
        position: absolute;
        height: 110%;
        width: 105%;
        border: 5px solid $secondBackgroundFontColor;
        left: 15px;
        top: -15px;
        z-index: -1;
      }
    }

    @media screen and (max-width: 800px) {
      height: auto;
      text-align: center;
    }
  }
}

