.projectBlock {
    background-color: #ece7e7;
    width: 500px;
    border: 1px solid;
}

.projectImg {
    width: 100%;
    height: 200px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectButton {
    background-color: #939393;
    padding: 10px;
    font-weight: bold;
}

.descriptionContainer {
    padding: 0 10px;
}

.description {
    display: block;
    text-align: center;
}