@import '../../common/scss/variables';

.projectBlock {
  background-color: #252525;
  width: 500px;
  margin: 10px 0 0 0;
  @media screen and (max-width: 1260px) and (min-width: 880px) {
    width: 350px;
  }

  .projectImg {
    width: 100%;
    height: 200px;
    background-color: #C4C4C4;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    a {
      font-size: 1rem;
      padding: 1rem 3rem;
      color: $secondBackgroundFontColor;
      background-color: rgba(17, 17, 17, 0.7);
      border-radius: 10px;
    }

    .projectButton {
      text-decoration: none;
      border: 1px solid $secondBackgroundFontColor;
      position: relative;
      overflow: hidden;
      padding: 5px;
      font-weight: bold;
      cursor: pointer;
      font-family: $secondaryFont;

      &:hover {
        box-shadow: 1px 1px 25px 10px rgba(250, 194, 103, 0.4);
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
                        120deg,
                        transparent,
                        rgba(250, 194, 103, 0.4),
                        transparent
        );
        transition: all 650ms;
      }

      &:hover:before {
        left: 100%;
      }
    }
  }
}

.descriptionContainer {
  padding: 0 10px 15px;

  .projectName {
    font-family: $secondaryFont;
    text-align: center;
  }
}

.description {
  display: block;
}

