*, ::after, ::before {
    box-sizing: border-box;
    color: #eee;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.title-bg {
    font-size: 110px;
    letter-spacing: 10px;
    line-height: 0.7;
    transform: translate(-50%, 50%);
    left: 50%;
    top: 16%;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    color: rgba(255, 255, 255, 0.07);
    @media screen and (max-width: 630px){
        font-size: 60px;
        top: 35%;
    }
    @media screen and (max-width: 360px) {
        font-size: 48px;
        top: 40%;
    }
    @media screen and (max-width: 319px) {
        font-size: 40px;
    }
}