@import "../common/scss/variables";

.footerBlock {
    background-color: $primaryBackgroundColor;
}

.container {
    flex-direction: column;
}

.title {
    font-family: $secondaryFont;
    margin: 0 auto;
}

.listContacts {
    padding: 0;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.contacts {
    height: 40px;
    width: 40px;
}