@import "../common/scss/variables";
@import "../common/scss/mixins";

.footerBlock {
  background-color: $primaryBackgroundColor;

  .container {
    @include container;
    @include flex(column, space-between, center, wrap);


    .title {
      font-family: $secondaryFont;
      margin: 0 auto;
    }

    .listContacts {
      padding: 0;
      width: 280px;
      display: flex;
      justify-content: space-between;

      .contact {
        height: 40px;
        width: 40px;
      }
    }
  }
}