@import '../common/scss/mixins';
@import '../common/scss/variables';

.projectsBlock {
  min-height: 100vh;
  background-color: $primaryBackgroundColor;
  .container {
      @include container;
      @include flex(column, flex-start, center, nowrap);
    .title {
      @include title
    }

    .projects {
      width: 100%;
      @include flex(row, space-between, center, wrap);
      @media screen and (max-width: 880px) {
        justify-content: center;
      }
    }
  }
}