.projectsBlock {
    min-height: 100vh;
    background-color: #F1E2FF;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    margin: 0 auto;
    background-color: #8FBC8F;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}